name: Build and Push Docker Image

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Tag Docker Image
        run: |
          docker build -t ghcr.io/roflmao/elaway-gateway-api:${{ github.event.release.tag_name }} .
          docker tag ghcr.io/roflmao/elaway-gateway-api:${{ github.event.release.tag_name }} ghcr.io/roflmao/elaway-gateway-api:latest

      - name: Push to GitHub Container Registry
        run: |
          docker push ghcr.io/roflmao/elaway-gateway-api:${{ github.event.release.tag_name }}
          docker push ghcr.io/roflmao/elaway-gateway-api:latest
